@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.boosterpacks, .posts {
    margin: 30px 0;
}
.invalid-feedback {
    display: block;
}
.nav-item{
    list-style: none;
    margin-right: 15px;
}
.modal-body .post-img {
    margin: 0 auto;
    height: 500px;
    width: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.modal-body .card-img-top {
    width: auto;
    max-width: none;
    max-height: 500px;
}
#postModal .form-group {
    flex: 1 0 auto;
}
#postModal .form-group input{
    width: 100%;
}
.user .avatar {
    border-radius: 100%;
    overflow: hidden;
    width: 70px;
    height: 70px;
}
.user .avatar img{
    width: 100%;
}
.user .name {
    margin-left: 20px;
}
.likes {
    margin-bottom: 15px;
    cursor: pointer;
}
.heart-wrap {
    display: flex;
    align-items: center;
}
.likes .heart{
    margin-right: 5px;
}

.card {
    position: relative;
    display: flex;
    padding: 20px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.media img {
    width: 60px;
    height: 60px
}

.reply a {
    text-decoration: none
}

.media {
    margin-bottom: 5px;
    margin-top: 5px;
}

